<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarRental"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".view.activity.UserOrderActivity"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBGG0rldiCyzp45Pu_XBEHExPrpWfpBUQ0" />

        <activity
            android:name=".view.activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.CarDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RentCarActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SearchActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UploadCarsActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.OrderManagementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RentalManagementActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RentMnDetailActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>